<style>
    .favoriteButton {
        height: 30px;
    }

    /* Required Styling */

    label input[type="checkbox"] {
        display: none;
    }

    .custom-checkbox {

        margin-left: 1em;
        /*margin-left: 2em;*/
        position: relative;
        /*position: absolute;*/
        cursor: pointer;
        font-size: 30px;
    }

    .custom-checkbox .glyphicon {
        color: gold;
        position: absolute;
        top: 0.4em;
        left: -1.25em;
        font-size: 0.75em;
    }

    .custom-checkbox .glyphicon-star-empty {
        color: gray;
    }

    .custom-checkbox .glyphicon-star {
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }

    .custom-checkbox:hover .glyphicon-star{
        opacity: 0.5;
    }

    .custom-checkbox input[type="checkbox"]:checked ~ .glyphicon-star {
        opacity: 1;
    }
</style>
<div class="formLoginPage">
    <form>
        <div class="container">
            <h1>Sign In</h1>
            <p>Please fill in your credentials</p>
            <hr>
            <div>
                <label>Username</label>
                <input ng-model="userName" type="text" class="form-control" id="user" placeholder="Enter username">
            </div>
            </br>
            <div>
                <label>Password</label>
                <input ng-model="psw" type="password" class="form-control" id="pwd" placeholder="Enter password">
            </div>
            </br>
            <div>
                <button class="btn-primary" ng-click="login()">Log in</button>
            </div>
            </br>
            <p>Not registered? <a href="#!register">Sign up</a></p>
            <p>Forgot your password? <a href="#!restorePassword">Restore Password</a></p>
        </div>
    </form>
</div>