<!-- css -->
<style>
    .searchResults {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-spacing: 10px;
    }
    .searchResultsPoint {
        display: table-cell;
        background-color: #80cdff;
    }
    img {
        max-width:90%;
        max-height:250px;
    }
    .spacing {
        height: 20px;
    }
</style>

<div class="formPOIPage">
    <div align="center" class="container">
        <h2>Points of Interest</h2>
        <div class="spacing"></div>
        <form class="form-inline md-form mr-auto mb-4">
            <input ng-model="searchInput" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary" type="submit" ng-click="searchPoints()">Search</button>
        </form>
        <div class="searchResults">
            <div ng-repeat="(key, category) in searchResultsCategoriesNames | orderBy: 'Name'">
                <h3><label ng-bind="category.Name"></label></h3>
                <div ng-repeat="(key, point) in searchResultsPoints | filter : {CategoryID: category.ID}" class="searchResultsPoint">
                    <div ng-click="openPOI(point.ID)" class="exploreImage">
                        <a href="#!poi">
                            <h4><span ng-bind="point.Name"></span></h4>
                            <img ng-src="{{'images/' + point.Image}}">
                        </a>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="spacing"></div>
        <div ng-show="noBrowse">
            <label>No results found :(</label>
        </div>
    </div>
</div>
