<!--<link rel="stylesheet" type="text/css" href="/home.css">-->
<style>
    .explore {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-spacing: 10px;
    }
    .exploreImage {
        display: table-cell;
        background-color: #b9ffda;
    }
    img {
        max-width:90%;
        max-height:90%;
    }
</style>

<div class="formHomePaged">
    <div align="center" class="container">
        <h2><b>Hello Guest</b></h2>
        <div>
            <p>Have a user? <a href="#!login">Log In!</a></p>
        </div>
        <div>
            <p>Not registered yet? <a href="#!register">Sign Up!</a></p>
        </div>
        <div class="explore">
            <div ng-click="openPOI({exploreImage1ID})" class="exploreImage">
                <a href="#!poi">
                    <h4>{{exploreImage1Label}}</h4>
                    <img src="{{exploreImage1Image}}">
                </a>
            </div>
            <div ng-click="openPOI({exploreImage2ID})" class="exploreImage">
                <a href="#!poi">
                    <h4>{{exploreImage2Label}}</h4>
                    <img src="{{exploreImage2Image}}">
                </a>
            </div>
            <div ng-click="openPOI({exploreImage3ID})" class="exploreImage">
                <a href="#!poi">
                    <h4>{{exploreImage3Label}}</h4>
                    <img src="{{exploreImage3Image}}">
                </a>
            </div>
        </div>
    </div>
</div>