<div class="formRestorePasswordPage">
    <form action="/action_page.php" ng-submit="submitRegister()">
        <div class="container" ng-form="restorePasswordForm">
            <h1>Restore Password</h1>
            <hr>
            <div>
                <div>
                    <label for="questions"><b>Security Questions</b></label>
                </div>
                <div>
                    <div>
                        <div>
                            <select
                                    required
                                    ng-model="vm.question1List"
                                    ng-options="col for col in questions|excludeUsed:vm.question2List">
                            </select>
                            <input type="text" class="form-control" placeholder="Enter Answer" name="firstAnswer" required>
                        </div>
                    </div>
                    </br>
                    <div>
                        <div>
                            <select
                                    required
                                    ng-model="vm.question2List"
                                    ng-options="col for col in questions|excludeUsed:vm.question1List">
                            </select>
                            <input type="text" class="form-control" placeholder="Enter Answer" name="secondAnswer" required>
                        </div>
                    </div>
                </div>
            </div>
            </br>

            <button id="submit" ng-disabled="!restorePasswordForm.$valid" ng-click="restorePassword();" type="submit" class="btn-primary">Restore Password</button>
        </div>
        </br>
    </form>
</div>