<div class="formRestorePasswordPage">
    <form ng-submit="restorePassword()">
        <div class="container" ng-form="restorePasswordForm">
            <h1>Restore Password</h1>
            <hr>
            </br>
            <div>
                <div>
                    <label for="userName"><b>User Name</b></label>
                </div>
                <div>
                    <input ng-pattern="/^[a-zA-Z\s]*$/" ng-model="userName" id="userName" name="usernameInput" type="text" class="form-control" placeholder="Enter User Name" required>
                </div>
            </div>
            </br>
            <div>
                <div>
                    <label><b>Security Questions</b></label>
                </div>
                <div>
                    <div>
                        <div>
                            <select
                                    required
                                    ng-model="vm.question1List"
                                    ng-options="col for col in questions|excludeUsed:vm.question2List">
                            </select>
                            <input type="text" ng-model="firstAnswer" class="form-control" placeholder="Enter Answer" name="firstAnswer" required>
                        </div>
                    </div>
                    </br>
                    <div>
                        <div>
                            <select
                                    required
                                    ng-model="vm.question2List"
                                    ng-options="col for col in questions|excludeUsed:vm.question1List">
                            </select>
                            <input type="text" ng-model="secondAnswer" class="form-control" placeholder="Enter Answer" name="secondAnswer" required>
                        </div>
                    </div>
                </div>
            </div>
            </br>
            </br>
            <input id="submit" ng-disabled="!restorePasswordForm.$valid" ng-click="restorePassword" type="submit" class="btn-primary" value="Restore Password">
        </div>
        </br>
    </form>
</div>